body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header Style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #0f172a;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Menu */
.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: #38bdf8;
}
